<div fxLayout="column" fxLayoutGap="5px">
  <md-chip-list>
    <md-chip *ngFor="let tag of allTags" (click)="chosenTag = tag" [style.fontWeight]="tag === chosenTag ? 'bold': ''">
      {{tag}}
    </md-chip>
    <md-chip (click)="chosenTag = ''">
      Reset
    </md-chip>
  </md-chip-list>
  <div fxLayout="row" fxLayoutWrap="wrap" fxFlexFill>
    <md-card *ngFor="let champion of champions | async | tags:chosenTag" fxFlex="1 0 300px">
      <md-card-title-group>
        <md-card-title>{{ champion.name}}</md-card-title>
        <md-card-subtitle>{{ champion.title }}</md-card-subtitle>
        <img md-card-md-image src="{{baseImgUrl}}{{champion.image.full}}" [alt]="champion.name" [title]="champion.name">
      </md-card-title-group>
      <md-card-content class="content">
        <md-chip-list>
          <md-chip *ngFor="let tag of champion.tags" (click)="chosenTag = tag">
            {{tag}}
          </md-chip>
        </md-chip-list>
        <div [innerHtml]="champion.blurb"></div>
      </md-card-content>
      <md-card-footer>
        <md-card-actions align="end">
          <button md-button routerLink="/detail/{{champion.id}}">ReadMore</button>
        </md-card-actions>
      </md-card-footer>

    </md-card>
  </div>
</div>
