<div class="mastery">
  <div class="mastery__input">
    <input #search (keyup.enter)="searchForSummoner(search.value)" (blur)="searchForSummoner(search.value)">
    <button md-button (click)="searchForSummoner(search.value)">Search</button>
  </div>
  <div class="mastery__list" *ngIf="summoner">
    {{summoner | json}}
    <div class="mastery__list" *ngIf="masteries">
      <div *ngFor="let mastery of masteries">
        {{mastery | json}}

      </div>
    </div>
    <button md-button (click)="resetSummoner()">reset</button>
  </div>
</div>
